---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.4 $helveticaNeue;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px;
  width: 100%;
  align-content: center;
}

.content-container {
  width: 75%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  @include mobile {
    height: auto;
    display: table;
  }
}

.flex-child {
  flex: 3;
  width: fit-content;
}  

.flex-child.disappearing {
  flex: 1;
  margin: 30px 20px 0px 20px;
  justify-content: center;
  @include mobile {
    width: 0;
    flex: 0;
  }
}

.flex-child.photo {
  flex: 2;
  margin-right: 40px;
  margin-left: 40px;
  
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $blue;
  font-weight: 300;
  width: 100%;
  text-align: center;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  text-align: left;
  font-weight: 300;
  font-size: 22px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

h5 {
  text-align: left;
  font-size: 18px;
}

h6 {
  text-align: left;
}

p, li {
  font-weight: 300;
  color: $gray;
  margin: 10px 0;
  text-align: justify;
  text-justify: auto;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 25px;
}

.masthead {
  align-items: center;
  text-align: center;

  @include mobile {
    
  }
}

.site-avatar {
  float: left;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  // min-width: 400px;
  // // height: 70px;
  // margin-right: 10px;
  // border: blue 2px solid;

  @include mobile {
    width: 300px;
    float: none;
    display: block;
    margin: 0 auto;
    // border: blue 2px solid
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  // float: center;
  font-family: $helveticaNeue;
  font-size: 14px;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: block;
    padding: 0px 0px;
    margin: 0;
    text-align: center;
  }

  a.nav-link {
    margin: 0px 10px;
    color: $darkGray;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    &:hover {
      color: $blue;
    }
  }

}

#sub-header ul li:hover,
body.about li.about,
body.research li.research,
body.publications li.publications,
body.people li.people,
body.outreach li.outreach,
body.contact li.contact,
body.join li.join
{border-bottom: 2px solid $gray;}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}


/*********************/
/*  CUSTOM ELEMENTS  */
/*********************/

// Bibliography list formatting
ol.bibliography {
  color: $gray;
  font-size: 14px;
  
  // max-width: 1000px;
  margin: 0;
  list-style-type: none;
}

.bibliography p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h2.bibliography {
  color: #000;
  font-size: 20px;
}

ul.bibinfo {
  font-size: 14px;
  margin: 0 0;
  list-style-type: none;
}

.bibinfo li {
 display: inline-block;
 padding: 5px 10px;
 margin: 0;
}

.bottom-border {
  border-bottom: 1px solid $lightGray;
}

.content-container.people img {
  max-width: 100%;
  width: $people_image_size;
  // margin-top: 0px;
}

// News table

table, tr{
  color:$blue;
  width: 100%;
  align-items: center;
}

tr.row1 {
  font-family: $helveticaNeue;
  font-weight: 300;
}

td.col1 {
  width: 1%;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  padding: 10px 10px
}

.siema {
  // border: 2px black solid;
  width:fit-content;
}

.helper {
  // border: blue 3px solid;
  width: fit-content;
  max-height: 350px; /* height of container */
}

img.center {
  // border: 3px pink solid;
  display: block;
  margin: auto;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
