<nav class="navbar navbar-expand-xl navbar-light">
    <div class="container-fluid no-wrap">
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
        <span class="navbar-logo">
        <img class="site-avatar" src="{{ site.avatar }}" alt="">
        </span>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav  ms-auto">
        <li class="nav-item about"><a class="nav-link" href="{{ site.baseurl }}/about.html">ABOUT</a></li> 
        <li class="nav-item research"><a class="nav-link" href="{{ site.baseurl }}/projects/all.html">RESEARCH</a></li>
        <li class="nav-item publications"><a class="nav-link" href="{{ site.baseurl }}/publications.html">PUBLICATIONS</a></li>
        <li class="nav-item people"><a class="nav-link" href="{{ site.baseurl }}/people/all.html">PEOPLE</a></li>
        <li class="nav-item outreach"><a class="nav-link" href="{{ site.baseurl }}/outreach.html">OUTREACH</a></li>
        <li class="nav-item contact"><a class="nav-link" href="{{ site.baseurl }}/contact.html">CONTACT</a></li>
        <li class="nav-item join"><a class="nav-link" href="{{ site.baseurl }}/join.html">JOIN</a></li>
    </ul>
</div>
</div>
</nav>